*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background-color:#F7F7F7;
	color: #000000;
	font-size: 16px;
	font-family: -apple-system, 'Open Sans', sans-serif;
}

.container {
  margin: 0 auto;
}

.status-bar {
	z-index: 5;
	position: fixed;
 	top: 0;
	width: 100%;
  height: 1.25em;
	background-color: rgba(0, 0, 0, .25);
  display: block;
  vertical-align: middle;
  text-align: center;
}

.status-bar-items {
  display: inline;
  padding-bottom: 1%;
  vertical-align: center;
}

nav {
  margin: 0 auto;
  background-color: #343890;
  padding: 50px 20px 10px 20px;
  z-index: 4;
  position: fixed;
  width: 100%;
  box-shadow: 0px 3px 3px rgba(52, 56, 144, 0.2);
  text-align: center;
  font-size: 1.5em;
}


.current-grid-container {
  display: grid;
  grid-gap: 0px;
  background-color: #81F1B2;
  padding: 12px 0 12px 0;
  width: 100%;
  height: 75px;
  grid-template-columns: 15% 50% 30% 5%;
  z-index: 2;
  box-shadow: 0px 2px 2px rgba(52, 56, 144, 0.2);
}

.grid-container {
  display: grid;
  grid-gap: 0px;
  background-color: white;
  padding: 12px 0 12px 0;
  border-bottom: solid #BCBBC1 .5px;
  width: 100%;
  height: 75px;
  grid-template-columns: 15% 50% 30% 5%;
}

.grid-container:hover {
	background-color: #fcfcfc;
}

.item1 {
  grid-column: 1;
  grid-row: 1 / span 2;
  margin-left: 15%;
}

.item2 {
  grid-column: 2;
  grid-row: 1;

}

.item3 {
  grid-column: 2;
  grid-row: 2;

}

.item4 {
  grid-column: 3;
  grid-row: 1;
  margin-right: 15%;
}

.item5 {
  grid-column: 3;
  grid-row: 2;
  margin-right: 15%;
}

.item6 {
  grid-column: 4;
  grid-row: 1 / span 2;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: .8em;
  color: white;
  font-weight: 300;
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
}

.map {
  padding-top: 80px;
  position: relative;
  margin-bottom: -2px;
}

.content {
	margin-bottom: 45px;
}

.current-route {
  background-color: #81F1B2;
  width: 100%;
  height: 75px;
  z-index: 2;
  display: block;
  position: relative;
  box-shadow: 0px 2px 2px rgba(52, 56, 144, 0.2);
}

.bus {
  font-weight: 600;
	font-size: 1.15em;
}

.circle {
  height: 50px;
  width: 50px;
  color: #000000;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  background: #BBF5D5;
}

.current-circle {
  height: 53px;
  width: 53px;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  background: #FC5E21;
  color: #FFFFFF !important;
  border: 3px solid #FFFFFF;
  font-weight: 600;
}

.current-route .destination, .current-route .next-bus {
  font-weight: 700;
  color: black;
}

.current-route .direction, .current-route .frequency {
  color: black;
  font-weight: 600;
}

.destination {
  font-size: .95em;
	line-height: 1em;
  text-align: left;
  padding-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .01em;
}

.direction {
  color: #8C8C8C;
  font-size: 0.75em;
	line-height: .8em;
  padding-bottom: 6px;
  text-align: left;
  font-weight: 400;
  letter-spacing: .01em;
}

.next-bus {
  font-size: .95em;
  line-height: 1em;
	font-weight: 700;
  text-align: right;
  padding-top: 10px;
  color: #8C8C8C;
  letter-spacing: .02em;
}

.frequency {
  color: #8C8C8C;
  font-size: 0.75em;
  line-height: .8em;
  padding-bottom: 6px;
  text-align: right;
  font-weight: 400;
  letter-spacing: .02em;
}

.route .out-of-service, .route .reroute {
	color: #FC5E21;
}

.bottom-navbar {
  width: 100%;
	text-align: center;
	background-color: #343890;
	position: fixed;
  z-index: 10 !important;
	bottom: 0;
  height: 45px;
}

/* Icons */

i {
  display: inline;
}

.mobile-battery, .fa-battery-three-quarters, .mobile-time, .fa-signal, .fa-wifi  {
  display: inline-block;
  color: white;
  position: relative;
}

.fa-exclamation-circle, .fa-chevron-left{
	float: left;
  color: white;
  display: inline-block;
  position: relative;
}

.fa-camera, h1 {
  color: white;
  display: inline-block;
  position: relative;
}

.fa-search, .fa-star {
  color: white;
  display: inline-block;
  position: relative;
  float: right;
}

.fa-exclamation-circle, .fa-camera, .fa-search {
  padding: .35em 1em .35em 1em;
  font-size: 1.55em;
  display: inline-block;
  position: relative;
}

.fa-signal, .fa-wifi {
  width: 3%;
  text-align: left;
  color: white;
}

.mobile-time {
  width: 75%;
  text-align: center;
}

.mobile-service {
  width: 3%;
  text-align: left;
}

.mobile-battery, .fa-battery-three-quarters {
  width: 5%;
  text-align: right;
}

.current-route .learn-more-arrow {
  opacity: 100 !important;
  color: black;
  line-height: 1em;
  padding-top: 19px;
  text-align: right;
  vertical-align: middle;
}

.learn-more-arrow {
  opacity: 0.3;
  color: gray;
  line-height: 1em;
  padding-top: 19px;
  text-align: right;
  vertical-align: middle;
}
